# an appropriate version of torch should be installed, so I'll comment this out
# torch>=2.6.0
# torchvision>=0.21.0
# torchaudio>=2.6.0

transformers==4.47.0
sentence-transformers==3.3.1
accelerate==1.2.1

faster-whisper>=1.0.0
langchain-text-splitters
datasets
tiktoken
sentencepiece
qwen_vl_utils

mistralai
huggingface-hub

PyMuPDF
Pillow

pandas
scikit-learn
tqdm
streamlit
runpod
python-dotenv

ipykernel
ipywidgets
